
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>JC - Recursos Humanos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="E-Banking Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />  <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
    <!-- header -->
    <div class="headerw3-agile">
        <div class="header-w3mdl">
            <!-- header-two -->
            <div class="container">
                <div class="agileits-logo navbar-left">
                    <h1>JC</h1>
                </div>
                <div class="agileits-hdright nav navbar-nav">
                    <div class="header-w3top">
                        <!-- header-top -->
                        <ul class="w3l-nav-top">
                            <li><i class="fa fa-phone"></i><span> 809-599-2210</span></li>
                            <li><a href="mailto:20175067@itla.edu.do"><i class="fa fa-envelope-o"></i><span>20175067@itla.edu.do</span></a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="agile_social_banner">
                        <ul class="agileits_social_list">
                            <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="header-nav">
            <!-- header-three -->
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        Menu
                    </button>
                </div>
                <!-- top-nav -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li><a href="http://localhost:52647/Home/Index" class="active">Inicio</a></li>
                        <li><a href="http://localhost:52647/Empleadoes/Create" class="scroll">Empleados</a></li>
                        <li><a href="http://localhost:52647/Departamentoes/Create" class="scroll">Departamentos</a></li>
                        <li><a href="http://localhost:52647/Cargoes/Create" class="scroll">Cargos</a></li>
                        <li>
                            <a href="" data-toggle="dropdown">Procesos<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:52647/Nominas/Create">Nomina</a></li>
                                <li><a href="http://localhost:52647/Salidas/Create">Salida de empleados</a></li>
                                <li><a href="http://localhost:52647/Vacaciones/Create">Vacaciones</a></li>
                                <li><a href="http://localhost:52647/Permisoes/Create">Permisos</a></li>
                                <li><a href="http://localhost:52647/Licencias/Create">Licencias</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="" data-toggle="dropdown">Informes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:52647/Nominas/Index">Nominas</a></li>
                                <li><a href="http://localhost:52647/Empleadoes/Index">Empleados activos</a></li>
                                <li><a href="http://localhost:52647/Empleadoes/Index">Empleados inactivos</a></li>
                                <li><a href="http://localhost:52647/Departamentoes/Index">Departamentos</a></li>
                                <li><a href="http://localhost:52647/Cargoes/Index">Cargos</a></li>
                                <li><a href="http://localhost:52647/Empleadoes/Index">Entradas</a></li>
                                <li><a href="http://localhost:52647/Empleadoes/Index">Salidas</a></li>
                                <li><a href="http://localhost:52647/Permisoes/Index">Permisos</a></li>

                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </nav>
        </div>
        <!-- banner-text -->
        <!-- banner -->
        <div class="container">
            <div class="banner-text agileits-w3layouts">
                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <div class="banner-textagileinfo">
                                <h6>Bienvenido a JC</h6>
                                <h3>Seguro, completo e interactivo</h3>
                                <p>En esta pagina web podras administrar todos los movimientos de los empleados pertenecientes a tu empresa.</p>
                                <div class="agileits-banner-bot">
                                    <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                        <h5>01</h5>
                                        <h4>Conveniente</h4>
                                        <p>Aquí encontrarás todo lo necesario para tu RH.</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                        <h5>02</h5>
                                        <h4>Seguro.</h4>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                        <h5>03</h5>
                                        <h4>Confiable.</h4>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-textagileinfo">
                                <h6>Bienvenido a JC</h6>
                                <h3>Seguro, completo e interactivo</h3>
                                <p>En esta pagina web podras administrar todos los movimientos de los empleados pertenecientes a tu empresa.</p>
                                <div class="agileits-banner-bot">
                                    <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                        <h5>01</h5>
                                        <h4>Conveniente</h4>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                        <h5>02</h5>
                                        <h4>Seguro.</h4>
                                        <p>Nuestras instalaciones son las mas seguras.</p>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                        <h5>03</h5>
                                        <h4>Confiable.</h4>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-textagileinfo">
                                <h6>Bienvenido a JC</h6>
                                <h3>Seguro, completo e interactivo</h3>
                                <p>En esta pagina web podras administrar todos los movimientos de los empleados pertenecientes a tu empresa.</p>
                                <div class="agileits-banner-bot">
                                    <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                        <h5>01</h5>
                                        <h4>Conveniente</h4>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                        <h5>02</h5>
                                        <h4>Seguro.</h4>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                        <h5>03</h5>
                                        <h4>Confiable.</h4>
                                        <p>Toda tu información está asegurada.</p>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- about -->
    <div class="home-about w3ls-section">
        <div class="container">
            <!-- about top-->
            <div class="w3ls-about agile-section">
                <div class="w3-agileits-about-grids">
                    <div class="col-md-6 col-sm-6 col-xs-6 agileits-title">
                        <h3>what makes <img src="images/logo.png" alt="logo" />Unique?</h3>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6  agile-about-bottom-right">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget faucibus est.Suspendisse auctor urna blandit ultricies maximus.
                            Sed accumsan auctor lacus ac mattis. Mauris at nibh purus. Nullam vulputate, urna id facilisis eleifend, nisl turpis suscipit augue, eget tincidunt velit nunc ut lectus.Morbi rutrum ut risus sed hendrerit. Mauris at nibh purus. Nullam vulputate, urna id facilisis eleifend.
                        </p>
                        <p class="w3ls-about-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget faucibus est.Suspendisse auctor urna blandit ultricies maximus.
                            Sed accumsan auctor lacus ac mattis. Mauris at nibh purus. Nullam vulputate, urna id facilisis eleifend, nisl turpis suscipit augue, eget tincidunt velit nunc ut lectus.Morbi rutrum ut risus sed hendrerit.
                        </p>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

        </div>
    </div>

    <script src="~/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <script src="~/js/SmoothScroll.min.js"></script>
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/bootstrap.js"></script>
</body>
</html>
